.SearchDisplay .repo-links {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.SearchDisplay .user-url {
  margin-left: 0.5rem;
}

.SearchDisplay h2 {
  font-size: 1.5rem;
}

.SearchDisplay section {
  margin: 1.5% 0;
}

.SearchDisplay {
  overflow-x: scroll;
  padding: 2% 0;
}

.SearchDisplay .repo-link {
  margin: 1%;
}
