.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.App h1 {
  font-size: 2rem;
}

.App img {
  max-width: 400px;
  width: 50%;
  min-width: 300px;
  border: solid 3px;
  border-radius: 100%;
  border-color: #4ed1ff;
}

.App article,
.App article .repos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.25rem;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  width: fit-content;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  content: attr(data-tooltip);
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 110%;
  left: 50%;
  width: 0;
  margin-left: -5px;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  font-size: 0;
  line-height: 0;
  content: " ";
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
